/*
1. Posicionamiento (static, absolute, relative, fixed)
2. Modelo caja (Box model) (Tamaño)
3. Tipografía (tipos, tamaños de fuente, etc)
4. Visuales (box-shadow, border-radius, gradient, etc)
5. Otros (reglas CSS y más)
*/

:root{
    /*Colores*/
    --color-primary: #f7931a;
    --color-primary-soft: #ffe9d5;
    --color-secondary: #1a9af7;
    --color-secondary-soft: #e7f5ff;
    --color-dark-warm: #201e1c;
    --color-dark: #282623;
    --color-light-darker: #bababa;
    --color-background: #faf8f7;
    --color-light: #fff;
}

* { /* Se refiere a todos los elementos del html*/
    box-sizing: border-box; /*incluir padding y border en el cálculo del tamaño total del elemento.*/

}

html { /*se refiere al elemento raíz <html>*/
    font-size: 62.5%;  /*1rem equivalente a 10 píxeles (px)*/
    /* font-family: "Inter", sans-serif; */
    font-family: "DM Sans", sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column; /*El eje principal ahora es vertical*/
    justify-content: center; /*centrar los elementos verticalmente (eje principal)*/
    text-align: center; /* Centrar el texto horizontalmente*/
    width: 100%;
    min-width: 320px; /*320px es la dimensión más pequeñas de los celulares*/
    height: 334px; 
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center; /*/* Centra horizontal (eje transversal) este elemento*/
}


.header__tittle-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;/
}