/*
1. Posicionamiento (static, absolute, relative, fixed)
2. Modelo caja (Box model) (Tamaño)
3. Tipografía (tipos, tamaños de fuente, etc)
4. Visuales (box-shadow, border-radius, gradient, etc)
5. Otros (reglas CSS y más)
*/

:root{
    /*Colores*/
    --color-primary: #f7931a;
    --color-primary-soft: #ffe9d5;
    --color-secondary: #1a9af7;
    --color-secondary-soft: #e7f5ff;
    --color-dark-warm: #201e1c;
    --color-dark: #282623;
    --color-light-darker: #bababa;
    --color-background: #faf8f7;
    --color-light: #fff;
}

* { /* Se refiere a todos los elementos del html*/
    box-sizing: border-box; /*incluir padding y border en el cálculo del tamaño total del elemento.*/
    padding: 0;
    margin: 0;
}

html { /*se refiere al elemento raíz <html>*/
    font-size: 62.5%;  /*1rem equivalente a 10 píxeles (px)*/
    /* font-family: "Inter", sans-serif; */
    font-family: "DM Sans", sans-serif;
}

.header{
    position: relative;
    display: flex;
    flex-direction: column; /*El eje principal ahora es vertical*/
    justify-content: center; /*centrar los elementos verticalmente (eje principal)*/
    text-align: center; /* Centrar el texto horizontalmente*/
    width: 100%;
    min-width: 320px; /*320px es la dimensión más pequeñas de los celulares*/
    height: 334px; 
    background: linear-gradient(208.83deg, var(--color-dark) 16.69%, var(--color-primary) 100%);
}

.header__img {
    width: 151px;
    height: 24px;
    margin-top: 60px;
    align-self: center; /*/* Centra horizontal (eje transversal) este elemento*/
}


.header__text {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 50px;
    text-align: center;
    align-self: center;/
}

.header__title{
    font-size: 2.2rem; /*22px*/
    font-weight: bold;
    line-height: 2.6rem; /*26px el espacio entre líneas*/
    color: var(--color-light);
}

.header__paragraph{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--color-primary-soft);
}

.header__text .header__link{
    position: absolute;
    /* left: calc(50%-118px); Se va al centro con el 50% y se le resta -118px */
    /*centrar el boton*/
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    /**/
    top: 270px;
    display: block; /*Los elementos ocupan el 100% del ancho.*/
    margin-top: 35px;
    padding: 15px 0;
    width: 229px;
    height: 48px;
    background-color: var(--color-background);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-dark);
}
.header__link span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}

.main {
    width: 100%;
    height: auto;
    min-width: 320px;
    background-color: var(--color-background);
}

.main__exchange{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.exchange__containerImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(./assets/img/Bitcoin.svg);
    background-size: cover; /*la imagen se escala automáticamente para que cubra completamente el área del elemento*/
    background-position: center; /*Al aumentar el viewport la imagen siempre se mantendrá en el centro*/
    background-repeat: no-repeat;
}

.exchange__containerTitle{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto; /*Asegura que se centre*/
}

.exchange__title{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--color-dark);
}

.exchange__paragraph{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}


.main__tables{
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}


.main__tableCurrency, .main__tabletCommissions{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    scroll-snap-align: center;
    margin: 0px 40px;
    height: 360px;
    font-family: "Inter", sans-serif;
}

.main__tableCurrency .currency__title{
    /* margin-right: 100%; */
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--color-primary);
}

.currency__table{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.table{
    width: 100%;
    height: 100%;
}

.currency__table td, .commissions__tableContainer{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--color-light-darker);
    background-color: var(--color-light);
}

.table__column--right .table__column--below{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-down.svg");
    background-size: cover; /*ajusta el tamaño de la imagen para cubrir completamente el área del elemento contenedor*/
    background-position: center; /*posiciona la imagen de en el centro del elemento contenedor.*/
}

.table__column--right .table__column--above{
    /* display: inline-block; */
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency__table .table__column--topLeft{
    border-radius: 15px 0 0 0;
}

.currency__table .table__column--topRight{
    border-radius: 0 15px 0 0;
}

.currency__table .table__column--bottomLeft{
    border-radius: 0 0 0 15px;
}

.currency__table .table__column--bottomRight{
    border-radius: 0 0 15px 0;
}

.currency__date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--color-primary-soft);
    border-radius: 8px;
}

.currency__text{
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-dark-warm);
}


.main__tabletCommissions .commisions__title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--color-secondary);
}

.commissions__tableContainer{
    /* background-color: #f7931a; */
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4, 1fr);

    border-radius: 15px; /* Bordes redondeados */
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.commissions__tableContainer span{
    /* Centra vertical y horizontalmente el contenido */
    display: flex;
    justify-content: center; /*eje horizontal*/
    align-items: center; /*eje vertical*/
}

.commisions__table--colOne{
    border-bottom: 3px solid var(--color-background); /*Borde inferior de las celdas */
    border-right: 3px solid var(--color-background); /* Borde derecho de las celdas */
}

.commisions__table-colTwo{
    border-bottom: 3px solid var(--color-background); /* Borde inferior de las celdas */
}

.commisions__table--colOneEnd{
    border-right: 3px solid var(--color-background); /* Borde derecho de las celdas */
}

.commisions__date{
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--color-secondary-soft);
    border-radius: 8px;
}

.main__product{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--color-dark-warm);
}

.product__batataLogo{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px; /*Para que pueda salirse de la sección*/
    /*centrar el logo*/
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    background-image: url("./assets/icons/batata.svg");
}

.product__text{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin-top: 50px;
    text-align: center;
}

.product__title{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--color-light);
}

.product__paragraph{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--color-dark);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.card__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card__icon--clock{
    background-image: url("./assets/icons/clock.svg");
}

.card__icon--eye{
    background-image: url("./assets/icons/eye.svg");
}

.card__icon---sign{
    background-image: url("./assets/icons/dollar-sign.svg");
}

.card__icon--circle{
    background-image: url("./assets/icons/check-circle.svg");
}

.card__title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--color-light);
}

.card__body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.bitcoin__imgContainer{
    width: 100%;
    min-width: 320px;
    height: 20vh;
    background-image: url("./assets/img/bitcoinbaby1-2x.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.bitcoin__title{
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--color-light);
    
}

.main__plans{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center
}

.plans__text{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plans__title{
    padding-top: 50px;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--color-dark);
}

.plans__paragraph{
    padding-top: 30px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans__slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.slider__card{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 25px 0;
    padding: 0 15px;
    background-color: var(--color-light);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.card__plan {
    position: absolute;
    width: 100px;
    height: 31px;
    top: -15px;
    /*centrar el logo*/
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.2rem;
    padding: 6px;
    background-color: var(--color-primary);
    border-radius: 8px;
    color: var(--color-light);
}

.card__containerTitle{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: black;
}

.card__price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}

.card__price span{
    margin-right: 2px;
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: 25px;
}

.card__saving{
    font-size: 1.2rem;
    color: #757575;
}

.card__buttom{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--color-background);
    border: 2px solid var(--color-primary);
    border-radius: 4px;
    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--color-dark);
    
}

.card__buttom span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./assets/icons/orange-right-arrow.svg");
    vertical-align: text-bottom;
}

/* Segunda tarjeta  */

.card__plan__basic {
    background-color: var(--color-secondary);
}

/* Tercera tarjeta */

.slider__card--limited {
    background-color: var(--color-dark-warm);
}

.card__plan__limited {
    background-color: var(--color-light-darker);
}

.card__containerTitle--limited {
    color: var(--color-light);
}

.card__price--limited {
    color: var(--color-light);
}

.card__saving__limited {
    background-color: var(--color-dark-warm);
    color: var(--color-light);
}

.footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--color-primary);
} 

.footer__list, .footer__containerImg{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.list__unlist {
    font-size: 1.4rem;
    font-weight: 500px;
    line-height: 1.8rem;
    list-style: none;
}

.footer__item{
    margin: 10px 0;
}

.footer__item a {
    text-decoration: none;
    color: var(--color-background);
}
