/*
1. Posicionamiento (static, absolute, relative, fixed)
2. Modelo caja (Box model) (Tamaño)
3. Tipografía (tipos, tamaños de fuente, etc)
4. Visuales (box-shadow, border-radius, gradient, etc)
5. Otros (reglas CSS y más)
*/

:root{
    /*Colores*/
    --color-primary: #f7931a;
    --color-primary-soft: #ffe9d5;
    --color-secondary: #1a9af7;
    --color-secondary-soft: #e7f5ff;
    --color-dark-warm: #201e1c;
    --color-dark: #282623;
    --color-light-darker: #bababa;
    --color-background: #faf8f7;
    --color-light: #fff;
}

* { /* Se refiere a todos los elementos del html*/
    box-sizing: border-box; /*incluir padding y border en el cálculo del tamaño total del elemento.*/
    padding: 0;
    margin: 0;
}

html { /*se refiere al elemento raíz <html>*/
    font-size: 62.5%;  /*1rem equivalente a 10 píxeles (px)*/
    /* font-family: "Inter", sans-serif; */
    font-family: "DM Sans", sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column; /*El eje principal ahora es vertical*/
    justify-content: center; /*centrar los elementos verticalmente (eje principal)*/
    text-align: center; /* Centrar el texto horizontalmente*/
    width: 100%;
    min-width: 320px; /*320px es la dimensión más pequeñas de los celulares*/
    height: 334px; 
    background: linear-gradient(208.83deg, var(--color-dark) 16.69%, var(--color-primary) 100%);
}

header img {
    width: 151px;
    height: 24px;
    margin-top: 60px;
    align-self: center; /*/* Centra horizontal (eje transversal) este elemento*/
}


.header__tittle-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 50px;
    text-align: center;
    align-self: center;/
}

.header__title-container h1{
    font-size: 2.2rem; /*24px*/
    font-weight: bold;
    line-height: 2.6rem; /*26px el espacio entre líneas*/
    color: var(--color-light);
}

.header__title-container p{
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--color-primary-soft);
}

.header__title-container .header__button{
    position: absolute;
    /* left: calc(50%-118px); Se va al centro con el 50% y se le resta -118px */
    /*centrar el boton*/
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    /**/
    top: 270px;
    display: block; /*Los elementos ocupan el 100% del ancho.*/
    margin-top: 35px;
    padding: 15px 0;
    width: 229px;
    height: 48px;
    background-color: var(--color-background);
    /*Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-dark);
}
.header__button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}

main {
    width: 100%;
    height: auto;
    min-width: 320px;
    background-color: var(--color-background);
}

.main__exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main__exchange-container__title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto; /*Asegura que se centre*/
}

.main__exchange-container__img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(./assets/img/Bitcoin.svg);
    background-size: cover; /*la imagen se escala automáticamente para que cubra completamente el área del elemento*/
    background-position: center; /*Al aumentar el viewport la imagen siempre se mantendrá en el centro*/
    background-repeat: no-repeat;
}

.main__exchange-container__title h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--color-dark);
}

.main__exchange-container__title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}